@charset "UTF-8";
hr {
  display: block;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
body div,
caption,
cite,
code,
dd,
del,
details,
dfn,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
time,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figure,
footer,
header,
nav,
section,
summary {
  display: block;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: 0 0;
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q {
  margin-bottom: 25px;
}

q:after,
q:before {
  content: "";
}

html.mobile {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

embed,
img,
object {
  max-width: 100%;
}

button,
input,
select,
textarea {
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: "Amazon Ember";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url(/cdn/com/docs/CSS/webfonts/AmazonEmber_W_Rg.eot);
  src: url(/cdn/com/docs/CSS/webfonts/AmazonEmber_W_Rg.eot?#iefix)
      format("embedded-opentype"),
    url(/cdn/com/docs/CSS/webfonts/AmazonEmber_W_Rg.woff2) format("woff2"),
    url(/cdn/com/docs/CSS/webfonts/AmazonEmber_W_Rg.woff) format("woff"),
    url(/cdn/com/docs/CSS/webfonts/AmazonEmber_Rg.ttf) format("truetype");
}

@font-face {
  font-family: "Amazon Ember";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url(/cdn/com/docs/CSS/webfonts/AmazonEmber_W_Bd.eot);
  src: url(/cdn/com/docs/CSS/webfonts/AmazonEmber_W_Bd.eot?#iefix)
      format("embedded-opentype"),
    url(/cdn/com/docs/CSS/webfonts/AmazonEmber_W_Bd.woff2) format("woff2"),
    url(/cdn/com/docs/CSS/webfonts/AmazonEmber_W_Bd.woff) format("woff"),
    url(/cdn/com/docs/CSS/webfonts/AmazonEmber_Bd.ttf) format("truetype");
}

@font-face {
  font-family: "Amazon Ember";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: url(/cdn/com/docs/CSS/webfonts/AmazonEmber_W_RgIt.eot);
  src: url(/cdn/com/docs/CSS/webfonts/AmazonEmber_W_RgIt.eot?#iefix)
      format("embedded-opentype"),
    url(/cdn/com/docs/CSS/webfonts/AmazonEmber_W_RgIt.woff2) format("woff2"),
    url(/cdn/com/docs/CSS/webfonts/AmazonEmber_W_RgIt.woff) format("woff"),
    url(/cdn/com/docs/CSS/webfonts/AmazonEmber_RgIt.ttf) format("truetype");
}

@font-face {
  font-family: "Bookerly Regular";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url(/cdn/com/docs/CSS/webfonts/BookerlyLCD_W_Rg.eot);
  src: url(/cdn/com/docs/CSS/webfonts/BookerlyLCD_W_Rg.eot?#iefix)
      format("embedded-opentype"),
    url(/cdn/com/docs/CSS/webfonts/BookerlyLCD_W_Rg.woff2) format("woff2"),
    url(/cdn/com/docs/CSS/webfonts/BookerlyLCD_W_Rg.woff) format("woff"),
    url(/cdn/com/docs/CSS/webfonts/BookerlyLCD_Rg.ttf) format("truetype");
}

body {
  background: #efefef;
  color: #333 !important;
  font-family: "Amazon Ember", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428;
  letter-spacing: 0;
  word-spacing: 0;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}

#a-page {
  background: #fff;
}

input {
  font-family: inherit;
}

a:visited {
  color: #74008c;
}

a:link {
  color: #039;
}

a:hover {
  color: #039;
  text-decoration: underline;
}

a:active {
  color: #c7002c;
}

a.linkLike {
  cursor: pointer;
  color: #039;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 10px;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

ol {
  list-style: decimal;
  margin-left: 10px;
  padding-left: 10px;
}

li {
  margin-bottom: 5px;
}

p {
  line-height: 1.45em;
  margin: 0 0 1em;
}

textarea {
  background: #fff;
}

ol a,
ul a {
  text-decoration: none;
}

img {
  border: 0;
}

dl {
  margin-top: 0;
  margin-bottom: 20px;
}

dd,
dt {
  line-height: 1.428571429;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
  margin-bottom: 5px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Amazon Ember", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.25;
  color: inherit;
  margin-top: 15px;
  margin-bottom: 10px;
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-weight: 400;
  line-height: 1;
  color: #777;
}

h1 {
  color: #111;
  font-family: "Bookerly Regular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 20px;
  line-height: 1.25;
  font-weight: 400;
}

h2 {
  color: #222;
  font-size: 18px;
  line-height: 1.25;
  padding-bottom: 4px;
}

h3 {
  color: #333;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 5px;
}

h4 {
  color: #333;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 5px;
}

h5,
h6 {
  margin-bottom: 5px;
  margin-top: 5px;
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small {
  font-size: 85%;
}

.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-size: 75%;
}

#logo {
  background-repeat: no-repeat;
  display: block;
  float: left;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  width: 250px;
}

.locale-com #logo {
  background-image: url(/cdn/com/images/servlets/shared/abebooks-logo-com.png);
}

.locale-uk #logo {
  background-image: url(/cdn/com/images/servlets/shared/abebooks-logo-uk.png);
}

.locale-de #logo {
  background-image: url(/cdn/de/images/servlets/shared/abebooks-logo-de.png);
}

.locale-fr #logo {
  background-image: url(/cdn/fr/images/servlets/shared/abebooks-logo-fr.png);
}

.locale-it #logo {
  background-image: url(/cdn/it/images/servlets/shared/abebooks-logo-it.png);
}

.locale-es #logo {
  background-image: url(/cdn/es/images/servlets/shared/abebooks-logo-es.png);
}

.locale-zvab #logo {
  background-image: url(/cdn/zvab/images/servlets/shared/zvab-logo.png);
}

@media screen and (max-width: 875px) {
  #logo {
    background-size: auto 28px;
    height: 32px;
    max-width: 320px;
    width: 164px;
  }
}

.cf:after,
.cf:before,
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}

.cf:after,
.clearfix:after {
  clear: both;
}

.cf,
.clearfix {
  zoom: 1;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.invisible {
  visibility: hidden;
}

.hide {
  display: none;
}

.show {
  display: block !important;
}

.pull-right,
.right {
  float: right !important;
}

.left,
.pull-left {
  float: left !important;
}

.block {
  display: block !important;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.clear-all {
  clear: both;
}

.visible-xs-block {
  display: none !important;
}

#container,
#wrapper {
  position: relative;
  margin: 0 auto;
}

#container {
  background: #fff;
}

.lg-centered {
  max-width: 700px;
  margin: 0 auto;
}

.liquid-left,
.liquid-right {
  display: flex;
  flex-flow: row;
}

.liquid-fluid-col,
.liquid-fluid-col-clean {
  flex: 1;
}

.liquid-left .liquid-static-col {
  float: left;
}

.liquid-left .liquid-fluid-col {
  border-left: 1px solid #c1c1c1;
  box-shadow: inset 4px 0 5px -5px #c1c1c1;
}

.liquid-right .liquid-static-col {
  float: right;
}

.liquid-right .liquid-fluid-col {
  border-right: 1px solid #c1c1c1;
  box-shadow: inset -4px 0 5px -5px #c1c1c1;
}

.liquid-static-col {
  word-wrap: break-word;
}

.liquid-fluid-col,
.liquid-fluid-col-clean {
  width: auto;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 768px) {
  .liquid-left,
  .liquid-right {
    display: block;
  }

  .liquid-static-col {
    float: none !important;
    width: inherit !important;
  }

  .liquid-fluid-col {
    overflow: visible !important;
    border: none !important;
    box-shadow: none !important;
  }
}

#abe-header {
  background: none repeat scroll 0 0 #fff;
  padding: 2px 0 0;
}

.top-nav {
  padding: 16px 5px;
}

.top-nav .wrapper {
  max-width: 1240px;
  margin: 0 auto;
}

.abenav-belt {
  display: flex;
  align-items: center;
}

.abenav-belt-left {
  flex: none;
}

.abenav-belt-fill {
  flex: auto;
}

.abenav-belt-right {
  flex: none;
}

#account-nav {
  margin-right: 0;
}

#account-nav a {
  border: 1px solid #8799a9;
  border-radius: 4px;
  color: #47667e;
  font-size: 13px;
  font-weight: 400;
  margin-right: 4px;
  padding: 8px 12px;
  position: relative;
  text-decoration: none;
}

#account-nav a:hover {
  border-color: #3d464e;
}

#main {
  padding: 0 10px 25px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#basket {
  padding-right: 10px;
  position: relative;
  white-space: nowrap;
}

#basket > .basket-icon {
  background-image: url(/cdn/shared/images/header/abe-sprite.png);
  background-position: -5px -223px;
  padding: 1px 10px;
  margin-left: 2px;
}

@media not all, (min-resolution: 192dpi) {
  #basket > .basket-icon {
    background-image: url(/cdn/shared/images/header/basket.png);
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.bs-count {
  color: #fff;
  background-color: #c7002c;
  border-radius: 4px;
  font-size: 11px;
  position: absolute;
  top: -12px;
  right: -2px;
  display: inline-block;
  min-width: 19px;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  padding: 4px;
  box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.38);
  box-sizing: border-box;
}

#main-navigation {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

#main-navigation .nav-wrapper {
  margin: 0 auto;
  max-width: 1240px;
}

#global-nav-links {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

#global-nav-links a {
  flex: none;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  padding: 12px 0 8px 0;
  text-decoration: none;
  margin-bottom: 3px;
}

#global-nav-links a:hover {
  color: #333;
  box-shadow: 0 4px 0 #595959;
  transition: 0.25s ease-in-out;
}

.mobile-close {
  border: medium none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400 !important;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

#mobile-menu {
  display: none;
  background: 0 0;
  border: none;
  height: 30px;
  margin: 5px 0 0 5px;
  padding: 0 8px 0 5px;
  clear: left;
  cursor: pointer;
  float: left;
}

#mobile-menu .icon-bar {
  background-color: #333;
  display: block;
  width: 16px;
  height: 2px;
  position: relative;
  top: 8px;
  left: 2px;
}

#mobile-menu .icon-bar + .icon-bar {
  margin-top: 2px;
}

#mobile-menu .toggle-text {
  font-size: 14px;
  padding: 7px 8px 7px 22px;
  position: relative;
  top: -5px;
}

.wrapper {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.abe-content {
  background-color: #fff;
  overflow: auto;
  width: 100%;
  min-width: 320px;
  max-width: 1240px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#wrapper {
  background-color: #fff;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

#pageHeader {
  margin-bottom: 15px;
}

#pageHeader > h1 {
  padding-left: 10px !important;
}

@media screen and (max-width: 875px) {
  .abenav-slideout {
    height: 0;
    overflow: hidden;
  }

  .abenav-slideout.toggled-on {
    border-bottom: 1px solid #ddd;
    height: auto;
  }

  .top-nav {
    padding: 10px 5px;
  }

  #global-nav-links {
    flex-direction: column;
  }

  .mobile-close {
    cursor: pointer;
  }

  #abe-header .hidden-xs {
    display: none !important;
  }

  #abe-header .visible-xs-block {
    display: block !important;
  }

  #nav-mobile-search {
    display: inline !important;
  }

  #abe-header {
    padding-top: 0;
    position: relative;
    z-index: 999;
  }

  #global-nav-links > a {
    padding: 8px;
  }

  #account-nav {
    font-size: 12px;
    height: 35px;
    display: block;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    margin: 16px 8px 0 0;
  }

  #account-nav a {
    font-size: 12px !important;
    margin-right: 3px;
    padding: 4px 8px !important;
    float: left;
    width: auto;
  }

  #account-nav #basket {
    padding-right: 2px;
    padding-left: 4px !important;
  }

  #account-nav #basket .deftext {
    display: none;
    padding-left: 1px;
  }

  #main-navigation {
    background-color: #fafafa;
    height: 40px;
    padding-right: 6px;
  }

  #main-navigation .nav-wrapper {
    background-color: #fafafa;
    margin-top: 4px;
  }

  #main-navigation a:hover {
    background-color: #eaeded;
    text-decoration: none;
    box-shadow: none;
  }

  .to-top {
    background: rgba(0, 0, 0, 0) url(/cdn/shared/images/header/to-top-arrow.png)
      no-repeat scroll center top;
    color: #333;
    display: block;
    font-size: 10px;
    padding: 17px 0 10px;
    text-align: center;
    text-transform: uppercase;
  }

  .nav-bar {
    clear: both;
  }

  #mobile-menu {
    display: block;
  }
}

@media (max-width: 767px) {
  .mobile #abe-header .hidden-xs {
    display: none !important;
  }
}

#header-searchbox-form {
  margin: 0;
}

.gnav-searchbox {
  padding: 5px 40px 5px 0;
}

.gnav-searchbox .gnav-searchbox-right {
  align-items: center;
  display: flex;
  float: right;
  width: auto;
}

.gnav-searchbox .gnav-searchbox-left {
  align-items: center;
  display: flex;
  position: relative;
}

.gnav-searchbox .gnav-searchbox-label {
  font-weight: 400;
  margin-bottom: 0;
}

.gnav-searchbox .gnav-searchbox-field {
  flex: 1;
  position: relative;
}

.gnav-searchbox .gnav-searchbox-button {
  background: url(/cdn/shared/images/header/search.png) no-repeat center #00464f;
  border: 1px solid #00464f;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  height: 34px;
  vertical-align: middle;
  width: 44px;
}

.gnav-searchbox .gnav-searchbox-button span {
  display: none;
}

.gnav-searchbox .gnav-searchbox-options {
  border: 1px solid #999;
  border-radius: 4px;
  font-size: 13px;
  height: 34px;
  margin-right: 3px;
}

.gnav-searchbox .gnav-searchbox-input {
  border: 1px solid #999;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
  height: 34px;
  font-size: 13px;
  font-family: inherit;
  padding: 6px 35px 6px 12px;
  width: 100%;
}

.gnav-searchbox .gnav-searchbox-input[type="search"]::-ms-clear {
  display: none;
}

.gnav-searchbox
  .gnav-searchbox-input[type="search"]::-webkit-search-cancel-button,
.gnav-searchbox .gnav-searchbox-input[type="search"]::-webkit-search-decoration,
.gnav-searchbox
  .gnav-searchbox-input[type="search"]::-webkit-search-results-button,
.gnav-searchbox
  .gnav-searchbox-input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.gnav-searchbox .gnav-searchbox-advanced {
  font-weight: 400;
  margin-left: 10px;
  text-decoration: none;
}

.gnav-searchbox .abeui-autosuggest-clear {
  right: 5px;
}

.gnav-searchbox-container-m {
  float: right;
}

.gnav-searchbox-m {
  padding: 5px;
  position: relative;
}

.gnav-searchbox-m .gnav-searchbox-left-m {
  float: left;
}

.gnav-searchbox-m .gnav-searchbox-right-m {
  float: right;
}

.gnav-searchbox-m .gnav-searchbox-input-m {
  border: 1px solid #999;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
  height: 30px;
  font-size: 13px;
  padding: 6px 19px 6px 8px;
  width: 100%;
}

.gnav-searchbox-m .gnav-searchbox-input-m[type="search"]::-ms-clear {
  display: none;
}

.gnav-searchbox-m
  .gnav-searchbox-input-m[type="search"]::-webkit-search-cancel-button,
.gnav-searchbox-m
  .gnav-searchbox-input-m[type="search"]::-webkit-search-decoration,
.gnav-searchbox-m
  .gnav-searchbox-input-m[type="search"]::-webkit-search-results-button,
.gnav-searchbox-m
  .gnav-searchbox-input-m[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.gnav-searchbox-m .gnav-searchbox-button-m {
  background: url(/cdn/shared/images/header/search.png) no-repeat 10px 6px
    #00464f;
  border: 1px solid #00464f;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
  height: 30px;
  vertical-align: middle;
  width: 40px;
}

.gnav-searchbox-m .gnav-searchbox-button-m span {
  display: none;
}

.gnav-searchbox-m .abeui-autosuggest-clear {
  right: 45px;
  top: 3px;
}

.far {
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fa-times:before {
  content: "✕";
}

@media (max-width: 875px) {
  #header-searchbox-form {
    display: none;
  }
}

@media (min-width: 875px) {
  .gnav-searchbox-container-m {
    display: none;
  }
}

.nst-component .nst-content {
  box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: max-height ease-out 0.2s;
  transition: max-height ease-out 0.2s;
  padding-top: 0;
  padding-bottom: 0;
}

.nst-component .nst-content > .s-toggle {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.nst-component.nst-is-expanding .nst-content {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.nst-component.nst-is-expanding .nst-content > .s-toggle {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

.nst-component.nst-is-expanded .nst-content > .s-toggle {
  -webkit-transition: none;
  transition: none;
}

.nst-component.nst-is-collapsing .nst-content > .s-toggle {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.nst-component.nst-is-collapsed .nst-content {
  display: none;
}

.nst-fix-safari-bug {
  -webkit-transition: none !important;
  transition: none !important;
}

#breadcrumbs {
  padding: 0 0 10px 10px !important;
}

#breadcrumb-trail {
  font-size: 11px;
}

#breadcrumb-trail > a,
.breadcrumb {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
}

.breadcrumb + .breadcrumb:before {
  content: " ";
  background-image: url(/cdn/shared/images/common/icons/bread-crumb.svg);
  background-size: 1em 1em;
  height: 1em;
  width: 1em;
  position: relative;
  top: 0.2em;
  display: inline-block;
}

#breadcrumb-trail > a,
a.breadcrumb {
  text-decoration: none;
}

#breadcrumb-trail,
span.breadcrumb {
  font-weight: 700;
}

.breadcrumb-long {
  max-width: 500px;
}

@media screen and (max-width: 1100px) {
  .breadcrumb-long {
    max-width: 400px;
  }
}

@media screen and (max-width: 980px) {
  .breadcrumb-long {
    max-width: 250px;
  }
}

@media screen and (max-width: 920px) {
  .breadcrumb-long {
    max-width: 225px;
  }
}

@media screen and (max-width: 880px) {
  .breadcrumb-long {
    max-width: 200px;
  }
}

@media screen and (max-width: 845px) {
  .breadcrumb-long {
    max-width: 175px;
  }
}

@media screen and (max-width: 810px) {
  .breadcrumb-long {
    max-width: 155px;
  }
}

@media screen and (max-width: 767px) {
  .breadcrumb-long {
    max-width: 290px;
  }
}

@media screen and (max-width: 650px) {
  .breadcrumb-long {
    max-width: 185px;
  }
}

@media screen and (max-width: 495px) {
  .breadcrumb-long {
    max-width: 90px;
  }
}

.breadcrumb-short {
  max-width: 145px;
}

@media screen and (max-width: 810px) {
  .breadcrumb-short {
    max-width: 135px;
  }
}

@media screen and (max-width: 767px) {
  .breadcrumb-short {
    max-width: 145px;
  }
}

@media screen and (max-width: 650px) {
  .breadcrumb-short {
    max-width: 95px;
  }
}

@media screen and (max-width: 495px) {
  .breadcrumb-short {
    max-width: 48px;
  }
}

iframe.breadcrumbs {
  height: 51px;
}

.skip-link {
  position: absolute;
  z-index: -1000;
  border: 5px solid #fff;
}

.skip-link:active,
.skip-link:focus {
  background-color: #fff;
  margin-top: 10px;
  margin-left: 10px;
  z-index: 1000;
  text-decoration: underline;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input[disabled] {
  background-color: #eee;
}

.react-autosuggest__input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 28px 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.react-autosuggest__input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.react-autosuggest__input::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.react-autosuggest__input:-ms-input-placeholder {
  color: #999;
}

.react-autosuggest__input::-webkit-input-placeholder {
  color: #999;
}

.react-autosuggest__input::-ms-clear {
  display: none;
}

.react-autosuggest__input::-webkit-search-cancel-button {
  display: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  max-height: 400px;
  overflow-y: auto;
  z-index: 10000;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 0;
  padding: 5px 0 10px 10px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #eaeded;
}

.react-autosuggest-clear {
  color: #555;
  cursor: pointer;
  font-size: 15px;
  border: 0;
  background: 0 0;
  outline: 0;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 0;
}

.deprecation {
  background-color: #ffb952;
  font-size: 16px;
  padding: 16px 0;
}

.deprecation > .wrapper {
  padding-left: 62px;
  background: url(/cdn/shared/images/Shared/css/ie11.svg) top left no-repeat;
}

.deprecation > .wrapper > p {
  margin: 0;
}

.deprecation > .wrapper > p > span {
  display: block;
}

@media screen and (max-width: 875px) {
  .deprecation {
    padding: 12px 10px;
    font-size: 14px;
  }

  .deprecation > .wrapper {
    background-size: 37px 40px;
    padding-left: 50px;
  }

  .deprecation > .wrapper > p > span {
    display: inline;
  }
}

#notifications {
  position: fixed;
  width: 320px;
  bottom: 10px;
  right: 10px;
  z-index: 9999999;
}

.msg-body,
.msg-title {
  padding-left: 42px;
  position: relative;
}

.msg-title {
  font-weight: 500;
  position: relative;
}

.msg-title > p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 230px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.msg-title + .msg-body-leg > div,
.msg-title + .msg-body > div {
  margin-top: -10px;
}

.msg-body,
.msg-body-leg {
  overflow: hidden;
  padding-right: 10px;
}

.msg-body-leg > div.closed {
  display: none;
  visibility: hidden;
}

.msg-body-leg > div.opened {
  display: block;
  visibility: visible;
}

.msg-body > div {
  padding-top: 10px;
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  -ms-transition: -ms-transform 0.3s ease;
  transition: transform 0.3s ease;
  will-change: transform;
}

.msg-body > div.opened {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.msg-body > div.closed {
  position: absolute;
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

.msg-body > p {
  margin-bottom: 5px;
}

.msg-body > p:first-child {
  padding-top: 10px;
}

.msg-more {
  font-weight: 400;
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
}

.msg-more:hover {
  text-decoration: none;
}

.not-container {
  position: relative;
  font-size: 13px;
  margin-bottom: 5px;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: 10px 10px;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}

.not-container > p {
  margin: 0;
}

.level-warn {
  background-image: url(/cdn/shared/images/common/icons/icon_warning.png);
  border: 1px solid #d32236;
  background-color: #fce8f3;
}

.level-info {
  background-image: url(/cdn/shared/images/common/icons/icon_info.png);
  border: 1px solid #388aab;
  background-color: #f7fcfc;
}

#abe-gdpr {
  background: #f5f9fa;
}

#abe-gdpr > div {
  font-size: 13px;
  line-height: 1.25;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1240px;
  text-align: left;
  padding: 13px 40px 13px 10px;
  position: relative;
}

.gdpr-close {
  cursor: pointer;
  position: absolute;
  line-height: 1;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

#mobileBanner {
  left: 0;
  position: absolute;
  top: -40px;
  font-size: 20px;
  padding: 0 10px 10px;
  width: 98%;
}

#mobileBanner .close {
  font-size: 1.25em;
}

.m-portrait {
  top: -65px !important;
  font-size: 35px !important;
}

.m-portrait .r-toggle:before {
  width: 45px !important;
  height: 45px !important;
  margin-top: 5px !important;
}

.m-portrait #mv-off:before {
  background-position: 0 -45px;
}

.viewport-p {
  margin-top: 75px !important;
}

.m-landscape {
  top: -50px !important;
  font-size: 25px !important;
  padding: 0 10px !important;
}

.m-landscape .r-toggle:before {
  width: 35px !important;
  height: 35px !important;
}

.m-landscape #mv-off:before {
  background-position: 0 -35px;
}

.viewport-l {
  margin-top: 65px !important;
}

.viewport {
  margin-top: 55px !important;
}

.r-toggle {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
}

#mv-on {
  color: #039 !important;
  text-decoration: underline;
}

#mv-none {
  display: none;
  font-size: 0.8em;
  padding-top: 5px;
}

#mobileBanner-link {
  font-family: Arial;
  font-size: 1.3em;
  font-weight: 700;
  text-decoration: none;
}

.mobileBanner-message {
  font-family: Arial;
  font-size: 1.3em;
}

#mobileBanner-message-box {
  margin-top: 3px;
}

.mobile-nav-bg {
  background-color: #40505e;
  background: linear-gradient(to bottom, #586571, #40505e);
  border-bottom-color: #33373a;
  border-top-color: #33373a;
}

.new-here {
  background: #c9d4d7;
  width: 100%;
  position: absolute;
  padding: 10px;
  top: 0;
  left: 0;
}

.hero-notification {
  border: 1px solid #b9dde1;
  background-color: #fafafa;
  position: relative;
}

.hero-notification::before {
  content: " ";
  background-image: url(/cdn/shared/images/common/icons/icon_info.png);
  background-size: 36px 36px;
  height: 36px;
  width: 36px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.hero-notification > .body {
  padding: 20px 20px 20px 70px;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-default {
  color: #333 !important;
}

.text-center {
  text-align: center;
}

.price {
  color: #c7002c;
  font-weight: 700;
}
